* {
    color:#fff;
    padding:0;
    margin:0;
    font-family: "calibri";
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    border:0
}

body {
	    min-height:1000px;
}

input,select, option,button,textarea {
	color:#000;
	border:1px solid #aaa;
	
}

#page {
    margin:0 0;
    width: 1265px;
    height:1000px;
    background-color: rgb(66, 57, 75);
    padding-top:20px;
}
#contenu
{
    font-size: 18px;
    width: 550px;
    text-align: justify;
    min-height: 150px;
}

.header{	
	background-color: rgb(50, 131, 150);
	height:68px;
    margin-right : 200px;
    margin-left : 200px;
    padding:4px;
}
.titre {
	border-bottom: dotted ; 
    border-top: dotted; 
    border-left: dotted;
    border-right: dotted;   
    border-width:thin;
    margin:0;
}
h1 {
    background-color: rgb(50, 131, 150);
    color:#FFF; 
	border-bottom: dotted ;	
	bottom : 20px;
	border-top: dotted;
	border-left: dotted;
	border-right: dotted;
	border-width:thin;
	color:rgb(255,255,255);
    font-size: 50px;
    font-family: "calibri";
    text-align : center  
}

form.connexion 
{
    marging-bottom: 40px;
    text-align : center;
    font-size: 18px
}

form.connexion label 
{
    float: left;
    min-width: 150px;
    font-weight: bold;
    font-size: 18px;
}

.champtexte {
    border-style: solid;
    font-size: 18px;
}

form.connexion > .bloc_identifiant, form.connexion > .bloc_motdepasse
{
   marging-bottom: 5px;
   font-size: 18px; 
}

